body{

    font-family: 'Courier New', Courier, monospace;
    margin-right: 10%;
    margin-left: 10%;
    text-align: justify;
    margin-top: 5%;

}

#titulo{

    font-size: 50px;

}